<%= form_tag do %>
  <%= hidden_field_tag 'lat', 'nothing' %>
  <%= hidden_field_tag 'lng', 'nothing' %>
  <%= submit_tag 'Search' %>
<% end %>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
    $('#lat').val(position.coords.latitude);
    $('#lng').val(position.coords.longitude);
}
getLocation();
</script>
